@use '../base/global' as *;

.plumeo-table {
    display: table;
    border-spacing: .0625rem;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    margin: 1rem 0 .625rem;
    &__container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    &__thead, &__tfoot {
        font-family: $font-jura;
        background: color-mix(in srgb, var(--card-bg-color), var(--eo-sigil) 30%);
    }
    &__tbody {
        tr {
            background: color-mix(in srgb, var(--card-bg-color), transparent 41%);
            &:nth-child(even) {
                background: color-mix(in srgb, var(--card-bg-color), transparent 70%);
            }
        }
    }
    &__tr:not(:first-child) {
        &:last-child {
            border-bottom: none;
        }
    }
    &__th {
        font-weight: 600;
    }
    &__td {
        font-weight: 400;
    }
    &__th, &__td {
        word-wrap: break-word;
        white-space: normal;
        padding: .125rem .5rem;
        border-right: .0625rem solid var(--border-color);
        &:last-child {
            border-right: none;
        }
    }
}

.plumeo-kbd {
    font-size: 80%;
    display: inline-block;
    padding: .125rem .25rem;
    border-radius: .375rem;
    border: .0625rem solid var(--border-color);
    vertical-align: middle;
    box-shadow: inset 0 -.0625rem 0 var(--card-bg-color);
}
.plumeo-details {
    display: block;
    border-radius: .375rem;
    summary {
        cursor: pointer;
        font-weight: 600;
        user-select: none;
    }
    &[open] summary {
        border-radius: .375rem .375rem 0 0;
    }
}

.plumeo-iframe {
    border: none;
    outline: none;
    display: block;
    margin: 0 auto;
    transition: all .3s ease;
    box-shadow: 0 .25rem .75rem var(--hover-primary);
    &:hover {
        transform: scale(1.01);
    }
    &__wrapper {
        max-width: 50rem;
        max-height: 28.125rem;
        border-radius: .5rem;
        background: transparent;
    }
}

.plumeo-figure {
    width: 100%;
    margin: 1.5rem auto;
    max-width: 50rem;
    max-height: 28.125rem;
    &__figcaption {
        padding: .25em .5em;
        margin: -2.125em 0 1rem;
        font-style: italic;
        background: var(--card-bg-color);
        border-radius: 0 0 .875rem .875rem;
        a, p {
            color: var(--text-primary-color);
            font-family: $font-jura;
            padding: .125rem .625rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__image {
        margin: 0 auto;
        aspect-ratio: 16/9;
        width: 100%;
        height: auto;
        border-radius: .5rem .5rem .875rem .875rem;
    }
}